---
---

@import 'minima';

$break-large: 1100px;

.post-title {
  margin: 10px 0;
}

h1 {
  font-size: 32px;
}

.post-content h2 {
  font-size: 26px;
}

.post-content h3 {
  font-size: 20px;
  font-weight: bolder;
}

.custom-nav {
  display: inline-flex;
  margin-top: 5px;

  &__item {
    margin-right: 5px;
  }

  &__image {
    height: 50px;
  }
}

.home {
  &__main-image {
    display: block;
    max-height: 300px;
    margin: auto;
  }
}

.content-wrapper {
  display: flex;
  flex-direction: column;

  &--with-toc {
    margin: auto;
  }

  @media (min-width: $break-large) {
    flex-direction: row;
  }
}

.content-toc {
  flex: 1;

  &--big {
    @media (max-width: $break-large) {
      display: none;
    }
  }

  &--small {
    @media (min-width: $break-large) {
      display: none;
    }
  }

  &__nav {
    @media (min-width: $break-large) {
      float: right;
      margin-right: 100px;
    }
  }
}

.post-content-text {
  flex: 1;
}

.content-right {
  @media (max-width: $break-large) {
    display: none;
  }

  flex: 1;
}

.toc-entry {
  list-style-type: none;

  & a {
    @media (min-width: $break-large) {
      font-size: 14px;
    }

    @media (max-width: $break-large) {
      font-size: 16px;
    }
    color: gray;
  }
}
