---
---

@import 'minima';

$break-large: 900px;

.post-title {
  margin: 10px 0;
}

h1 {
  font-size: 32px;
}

.post-content h2 {
  font-size: 26px;
}

.post-content h3 {
  font-size: 20px;
  font-weight: bolder;
}

.custom-nav {
  display: inline-flex;
  margin-top: 5px;

  &__item {
    margin-right: 5px;
  }

  &__image {
    height: 50px;
  }
}

.home {
  &__main-image {
    display: block;
    height: 300px;
    margin: auto;
  }
}
